propel:
  general:
    project: keeko

  paths:
    projectDir: .
    schemaDir: %projectDir%/database
    outputDir: %schemaDir%
    phpDir: %outputDir%/generated-classes
    phpConfDir: %outputDir%/generated-conf
    sqlDir: %outputDir%/sql

  database:
    connections:
      keeko:
        adapter: mysql
        dsn: mysql:host=localhost;dbname=keeko
        user: root
        password: 

  generator:
    defaultConnection: keeko
    tablePrefix: kk_
    namespaceAutoPackage: false

  runtime:
    defaultConnection: keeko
